<a
  class="flex items-center gap-2 px-2 md:px-0 mb-6 w-fit hover:text-accent"
  [routerLink]="[routeConstants.Blog]"
>
  <lucide-angular [img]="arrowIcon" class="size-4"></lucide-angular>
  <span>Go Back</span>
</a>

@if (isLoading) {
  <!-- loader -->
  <div class="gap-4 min-w-full">
    <div
      role="status"
      class="flex flex-col items-center justify-center min-h-78 animate-pulse"
    >
      <div class="h-4 text-gray-100 rounded-full dark:text-gray-600 text-lg">
        <span class="text-accent">></span> Loading content...
      </div>
    </div>
  </div>
} @else {
  <!-- front matter -->
  <div class="flex flex-col min-w-full mb-6">
    <div class="flex flex-col group cursor-default transition-all duration-800">
      <div
        class="p-6 space-y-4 border-1  border-borders rounded-md group-hover:border-accent/50 transition-colors duration-200"
      >
        <!-- title and date -->
        <div class="flex flex-col items-start space-y-4 md:flex-row md:space-y-0 md:justify-between min-w-full text-xl font-extrabold">
          <div>
            <span class="text-accent">$</span>
            {{ frontMatter?.title }}
          </div>

          <div class="flex items-center gap-2 mb-2">
            <lucide-angular
              [img]="calendarIcon"
              class="size-5"
            ></lucide-angular>
            <span>{{ frontMatter?.publishedDate | date: "MMM d, y" }}</span>
          </div>
        </div>

        <!-- description -->
        <div class="font-mono text-secondary text-lg">
          {{ frontMatter?.description }}
        </div>

        <!-- tags -->
        <div class="flex flex-wrap gap-2 pt-2">
          @for (tag of frontMatter?.tags ?? []; track $index) {
            <span
              class="px-2 py-1 rounded bg-borders/20 text-secondary font-mono hover:bg-accent/10 hover:text-accent transition-all hover:scale-105"
              >{{ tag }}</span
            >
          }
        </div>
      </div>      
    </div>
  </div>

  <div class="flex px-2 md:px-0 min-h-full justify-center items-start">
    @if (isLocalRun) {
      <markdown
        (click)="onMarkdownClick($event)"
        class="prose prose-lg prose-theme max-w-5xl w-full"
        [src]="'test.md'"
      >
      </markdown>
    } @else {
      <markdown
        (click)="onMarkdownClick($event)"
        class="prose prose-lg prose-theme max-w-5xl w-full"
        [data]="markdownContent"
      >
      </markdown>
    }
  </div>

  @if (markdownContent.length === 0 && !isLocalRun) {
    <div class="gap-4 min-w-full">
      <div
        role="status"
        class="flex flex-col items-center justify-center min-h-78"
      >
        <div class="h-4 text-lg text-secondary">
          <span class="text-accent">></span> Something went wrong!
        </div>
      </div>
    </div>
  }
}
