<a
  class="flex items-center gap-2 px-2 md:px-0 mb-6 w-fit hover:text-accent"
  [routerLink]="['/blogs']"
>
  <lucide-angular [img]="arrowIcon" class="size-4"></lucide-angular>
  <span>Go Back</span>
</a>

@if (isLoading) {
<!-- loader -->
<div class="gap-4 min-w-full">
  <div
    role="status"
    class="flex flex-col items-center justify-center min-h-78 animate-pulse"
  >
    <div class="h-4 text-gray-100 rounded-full dark:text-gray-600 text-lg">
      <span class="text-accent">></span> Loading content...
    </div>
  </div>
</div>
} @else {
<div class="flex px-2 md:px-0 min-h-full justify-center items-start">
  <markdown
    (click)="onMarkdownClick($event)"
    class="prose prose-lg prose-theme max-w-5xl w-full"
    [data]="markdownContent"
  >
  </markdown>
</div>

@if (markdownContent.length === 0) {
<div class="gap-4 min-w-full">
  <div role="status" class="flex flex-col items-center justify-center min-h-78">
    <div class="h-4 text-lg text-secondary">
      <span class="text-accent">></span> Something went wrong!
    </div>
  </div>
</div>
} }
