<!-- blog.html -->
<div
  class="flex flex-col items-start w-full h-full space-y-8 px-4 mb-12 lg:mb-0 lg:px-0"
>
  <!-- title & sub-->
  <div class="flex flex-col items-start space-y-3 w-full">
    <div class="font-mono text-2xl text-accent font-bold">Blogs</div>
    <div class="font-mono text-secondary text-lg">
      My thoughts and writings!
    </div>
  </div>

  @if (isLoading) {
  <!-- loader -->
  <div class="gap-4 min-w-full">
    <div
      role="status"
      class="flex flex-col items-center justify-center min-h-78 animate-pulse"
    >
      <div class="h-4 text-gray-100 rounded-full dark:text-gray-600 text-lg">
        <span class="text-accent">></span> Loading content...
      </div>
    </div>
  </div>
  } @else {
  <!-- blog list container -->
  <div class="flex flex-col min-w-full space-y-6">
    @for (blog of (blogs ?? [] | paginate: { itemsPerPage: 5, currentPage:
    currentPage }); track $index) {
    <div class="flex flex-col group cursor-default transition-all duration-800">
      <div
        class="p-6 space-y-2 border-1 border-b-0 rounded-b-none border-borders rounded-md group-hover:border-accent/50 transition-colors duration-200"
      >
        <!-- title and date -->
        <div class="flex flex-col sm:flex-row sm:justify-between">
          <a
            [routerLink]="[`/blog/${blog.slug}`]"
            class="font-mono group-hover:text-accent font-extrabold text-lg mb-2"
          >
            <span class="text-accent">$</span>
            {{ blog.title }}
          </a>

          <div class="flex items-center gap-2 font-extrabold mb-2">
            <lucide-angular
              [img]="calendarIcon"
              class="size-4"
            ></lucide-angular>
            <span>{{ blog.publishedDate }}</span>
          </div>
        </div>

        <!-- Description -->
        <div class="font-mono text-secondary line-clamp-5">
          {{ blog.description }}
        </div>

        <!-- tags -->
        <div class="flex flex-wrap gap-2 pt-2">
          @for (tag of blog?.tags ?? []; track $index) {
          <span
            class="px-2 py-1 text-xs rounded bg-borders/20 text-secondary font-mono hover:bg-accent/10 hover:text-accent transition-all"
            >{{ tag }}</span
          >
          }
        </div>
      </div>

      <div
        class="flex items-center justify-between p-4 h-12 border-1 rounded-b-md bg-borders/5 border-borders group-hover:border-accent/50 transition-all duration-200"
      >
        <a
          [routerLink]="[`/blog/${blog.slug}`]"
          class="flex items-center gap-2 text-xs text-secondary hover:text-accent transition-colors focus:outline-none rounded px-2 py-1"
          aria-label="View blog content"
        >
          <lucide-angular [img]="arrowIcon" class="size-4"></lucide-angular>
          <span>Read More</span>
        </a>

        <a
          (click)="copyLink($index)"
          class="flex items-center gap-2 text-xs text-secondary hover:text-accent hover:cursor-pointer transition-colors focus:outline-none rounded px-2 py-1"
          aria-label="Share blog"
        >
          <lucide-angular
            [img]="blog.isLinkCopied ? checkIcon : shareIcon"
            class="size-4"
          ></lucide-angular>
          <span>{{ blog.isLinkCopied ? "Copied!" : "Share" }}</span>
        </a>
      </div>
    </div>
    } @if (blogs === null || blogs.length === 0) {
    <div class="gap-4 min-w-full">
      <div
        role="status"
        class="flex flex-col items-center justify-center min-h-78"
      >
        <div class="h-4 text-lg text-secondary">
          <span class="text-accent">></span>
          {{
            blogs === null
              ? "Something went wrong!"
              : "No published blogs available at the moment."
          }}
        </div>
      </div>
    </div>
    }
  </div>

  @if (blogs !== null && blogs.length !== 0) {
  <div class="flex w-full justify-center">
    <pagination-controls
      class="blog-pagination"
      [maxSize]="5"
      [responsive]="true"
      (pageChange)="currentPage = $event"
    ></pagination-controls>
  </div>
  } 
}
</div>
