<div
  class="flex flex-col items-center w-full px-4 lg:px-0 space-y-8 justify-center min-h-[calc(100dvh-var(--size-nav-h)-var(--size-footer-h)-8rem-4px)] sm:min-h-[calc(100dvh-var(--size-nav-h)-var(--size-footer-h)-9rem-4px)] lg:min-h-[calc(100dvh-var(--size-nav-h)-var(--size-footer-h)-10rem-4px)]"
>
  <!-- hero section -->
  <div class="flex flex-col items-center space-y-4">
    <om-cryptic-text
      [animateOnce]="true"
      [text]="'Methran'"
      styleClass="font-mono text-4xl md:text-5xl text-accent"
      [animationSpeed]="1000"
    ></om-cryptic-text>

    <om-typewriter
      [words]="[
        'Founding Engineer @ AI Startup',
        'Efficient logic. Scalable design.',
      ]"
      [styleClass]="
        'font-mono text-sm sm:text-base md:text-lg text-secondary tracking-wide'
      "
      [writeSpeed]="25"
      [startDelay]="1000"
    ></om-typewriter>
  </div>

  <!-- short intro -->
  <div class="px-0 sm:px-18">
    <div class="text-center font-mono mb-2">
      I'm a software engineer who loves building fast and reliable systems.
      Currently a Founding Engineer at a stealth AI startup, working mainly
      with .NET, Angular, and TypeScript on clean, scalable code.
    </div>

    <div class="text-center font-mono">
      Over the past couple of years, I've helped build software used by a range
      of organisations, including VMware, Midjourney, Toyota, and McDonald's.
      Curiosity keeps me going. I enjoy learning new tools, trying out ideas,
      and finding better ways to build.
    </div>
  </div>

  <!-- tech stack -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 text-gray-500 text-center">
    <!-- Languages -->
    <div>
      <p class="font-mono text-sm text-primary mb-3">Languages & Scripting</p>
      <div class="flex flex-wrap justify-center gap-5 text-4xl">
        @for (lang of languages; track $index) {
          <div class="flex flex-col">
            <i
              [class]="lang.icon + ' hover:text-accent hover:scale-110 transition-all'"
            ></i>
            <span class="text-xs mt-2">{{ lang.label }}</span>
          </div>
        }
      </div>
    </div>

    <!-- Frameworks -->
    <div>
      <p class="font-mono text-sm text-primary mb-3">Frameworks & Libraries</p>
      <div class="flex flex-wrap justify-center gap-5 text-4xl">
        @for (framework of frameworks; track $index) {
          <div class="flex flex-col">
            <i
              [class]="framework.icon + ' hover:text-accent hover:scale-110 transition-all'"
            ></i>
            <span class="text-xs mt-2">{{ framework.label }}</span>
          </div>
        }
      </div>
    </div>

    <!-- Tools & Platforms -->
    <div class="col-span-1 md:col-span-2">
      <p class="font-mono text-sm text-primary mb-3">Tools & Databases</p>
      <div class="flex flex-wrap justify-center gap-5 text-4xl">
        @for (tool of tools; track $index) {
          <div class="flex flex-col">
            <i
              [class]="tool.icon + ' hover:text-accent hover:scale-110 transition-all'"
            ></i>
            <span class="text-xs mt-2">{{ tool.label }}</span>
          </div>
        }
      </div>
    </div>
  </div>

  <!-- featured blogs - infinite scroll -->

  <!-- resume & my work -->
  <div
    class="flex flex-col space-y-4 md:flex-row md:space-y-0 md:space-x-6 items-center justify-center"
  >
    <!-- Blogs button -->
    <a
      [href]="routeConstants.CV"
      target="_blank"
      class="font-mono px-4 py-2 bg-accent/10 border border-accent/50 text-accent rounded-md hover:bg-accent/20 hover:border-accent transition-all duration-200 text-sm font-medium flex items-center gap-2"
    >
      <lucide-angular [img]="fileUserIcon" size="16"></lucide-angular>
      CV
    </a>

    <!-- Download Resume Button -->
    <a
      [routerLink]="[routeConstants.Blog]"
      class="font-mono px-4 py-2 bg-background text-primary border border-primary/20 rounded-md hover:bg-primary/5 hover:border-primary/40 transition-all duration-200 text-sm font-medium flex items-center gap-2"
    >
      <lucide-angular [img]="notebookPenIcon" size="16"></lucide-angular>
      Blogs
    </a>

    <!-- View Work Button -->
    <a
      [routerLink]="[routeConstants.Projects]"
      class="font-mono px-4 py-2 bg-background text-primary border border-primary/20 rounded-md hover:bg-primary/5 hover:border-primary/40 transition-all duration-200 text-sm font-medium flex items-center gap-2"
    >
      <lucide-angular [img]="folderIcon" size="16"></lucide-angular>
      Work
    </a>
  </div>
</div>
