.marquee-gradient {
  position: absolute;
  top: 0;
  height: 100%;
  width: 33%;

  &.left {
    left: 0;
    background-image: linear-gradient(
      to right,
      var(--color-background),
      transparent
    );
  }

  &.right {
    right: 0;
    background-image: linear-gradient(
      to left,
      var(--color-background),
      transparent
    );
  }
}
